@import-normalize; /* bring in normalize.css styles */

/* :root {
  --main-color: coffee;
  --white-color: #fff;
  --red-color: red;
  --button-good:  rgb(54, 219, 48);
  --button-neutral: rgb(169, 189, 168);
  --button-bad: rgb(207, 46, 37);
  --bg-color:  rgb(240, 184, 180);
  } */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
